## Built In Data sets
- they provide data sets for practise cases

### pydatasets
- Wraps the R “datasets” package for Python — contains famous datasets like iris, mtcars, Titanic, etc
- Install : pip install pydataset
- https://pydataset.readthedocs.io/en/latest/

In [2]:
 #pip install pydataset

In [3]:
from pydataset import data

initiated datasets repo at: C:\Users\djedjiga\.pydataset/

In [4]:
# List all datasets
print(data())

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [ ]:
dataset_ids = data()['dataset_id'].tolist()
# Join into a comma-separated string
dataset_ids_str = ", ".join(dataset_ids)
print(dataset_ids_str)

In [6]:
bakery =  data('cake')

In [8]:
bakery.head()

   replicate recipe  temperature  angle  temp
1          1      A          175     42   175
2          1      A          185     46   185
3          1      A          195     47   195
4          1      A          205     39   205
5          1      A          215     53   215

In [ ]:
# another way to wrap lines
import textwrap
wrapped = textwrap.fill(dataset_ids_str, width=100)
print(wrapped)

In [11]:
mtcars = data('mtcars')
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# Load iris dataset
iris = data('iris')
print(iris.head())

In [ ]:
mtcars = data('mtcars')
mtcars.head()

### sklearn
- Comes with classic ML datasets (Iris, Wine, Digits, Boston Housing, etc.).
- install : pip install scikit-learn

In [ ]:
from sklearn import datasets

In [ ]:
# Load iris as NumPy arrays
iris2 = datasets.load_iris()
print(iris2.data[:5])

In [ ]:
# Or as pandas DataFrame
import pandas as pd
df2 = pd.DataFrame(iris2.data, columns=iris2.feature_names)
print(df2.head())

### seaborn (sns.load_dataset)
- Has several clean, ready-to-use DataFrames for visualization practice.
- Install : pip install seaborn

In [ ]:
import seaborn as sns

In [ ]:
# List available datasets
print(sns.get_dataset_names())

In [ ]:
tips = sns.load_dataset('tips')
print(tips.head())

### statsmodels.dataset
- Many econometrics/statistics datasets.
- Install : pip install statsmodels

In [ ]:
import statsmodels.api as sm

In [ ]:
# Example: get the longley dataset
dataset = sm.datasets.longley.load_pandas().data
print(dataset.head())

### Tensor Flow
- Large ML datasets, including images, text, and audio.
- Install : pip install tensorflow tensorflow-datasets

In [ ]:
#pip install tensorflow tensorflow-datasets

import tensorflow_datasets as tfds

# Load MNIST
ds, info = tfds.load('mnist', with_info=True, as_supervised=True)
print(info)

### Keras datasets
- Handy for deep learning practice (MNIST, CIFAR-10, IMDB, etc.).
- Install : pip install tensorflow

from tensorflow.keras.datasets import mnist

(train_images, train_labels), (test_images, test_labels) = mnist.load_data()
print(train_images.shape, train_labels.shape)

### plotly.data
- Sample datasets for interactive plotting.
- Install : pip install plotly

In [ ]:
import plotly.express as px
import plotly.data as data

In [ ]:
gapminder = data.gapminder()
print(gapminder.head())