In [10]:
import pandas as pd 
import numpy as np

In [11]:
from pydataset import data
mtcars= data('mtcars')
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [12]:
mtcars['am'] = mtcars['am'].map({0: 'auto', 1: 'manual'})
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,manual,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,manual,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,manual,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,auto,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,auto,3,2

In [13]:
mtcars.index

Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230',
       'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC',
       'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial',
       'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona',
       'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird',
       'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L',
       'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype='object')

In [14]:
mtcars['car_name'] = mtcars.index
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,manual,4,4,Mazda RX4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,manual,4,4,Mazda RX4 Wag
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,manual,4,1,Datsun 710
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,auto,3,1,Hornet 4 Drive
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,auto,3,2,Hornet Sportabout

In [15]:
mtcars[mtcars['mpg']>25]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,manual,4,1,Fiat 128
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,manual,4,2,Honda Civic
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,manual,4,1,Toyota Corolla
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,manual,5,2,Porsche 914-2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,manual,5,2,Lotus Europa

In [16]:
len(mtcars[mtcars['mpg']>25])

6

In [18]:
mtcars.query('mpg >25')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,manual,4,1,Fiat 128
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,manual,4,2,Honda Civic
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,manual,4,1,Toyota Corolla
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,manual,5,2,Porsche 914-2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,manual,5,2,Lotus Europa

In [20]:
mtcars.filter(items= ['mpg' , 'hp'])

                      mpg   hp
Mazda RX4            21.0  110
Mazda RX4 Wag        21.0  110
Datsun 710           22.8   93
Hornet 4 Drive       21.4  110
Hornet Sportabout    18.7  175
Valiant              18.1  105
Duster 360           14.3  245
Merc 240D            24.4   62
Merc 230             22.8   95
Merc 280             19.2  123
Merc 280C            17.8  123
Merc 450SE           16.4  180
Merc 450SL           17.3  180
Merc 450SLC          15.2  180
Cadillac Fleetwood   10.4  205
Lincoln Continental  10.4  215
Chrysler Imperial    14.7  230
Fiat 128             32.4   66
Honda Civic          30.4   52
Toyota Corolla       33.9   65
Toyota Corona        21.5   97
Dodge Challenger     15.5  150
AMC Javelin          15.2  150
Camaro Z28           13.3  245
Pontiac Firebird     19.2  175
Fiat X1-9            27.3   66
Porsche 914-2        26.0   91
Lotus Europa         30.4  113
Ford Pantera L       15.8  264
Ferrari Dino         19.7  175
Maserati Bora        15.0  335
Volvo 142E           21.4  109

In [22]:
mtcars[mtcars['am']=='auto']

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,auto,3,1,Hornet 4 Drive
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,auto,3,2,Hornet Sportabout
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,auto,3,1,Valiant
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,auto,3,4,Duster 360
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,auto,4,2,Merc 240D
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,auto,4,2,Merc 230
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,auto,4,4,Merc 280
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,auto,4,4,Merc 280C
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,auto,3,3,Merc 450SE
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,auto,3,3,Merc 450SL
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,auto,3,3,Merc 450SLC
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,auto,3,4,Cadillac Fleetwood
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,auto,3,4,Lincoln Continental
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,auto,3,4,Chrysler Imperial
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,auto,3,1,Toyota Corona
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,auto,3,2,Dodge Challenger
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,auto,3,2,AMC Javelin
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,auto,3,4,Camaro Z28
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,auto,3,2,Pontiac Firebird

In [28]:
mtcars[(mtcars['am']=='auto') & (mtcars['cyl'] !='5') & (mtcars['mpg']>22)] #not = 5 <>

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Merc 240D,24.4,4,146.7,62,3.69,3.19,20.0,1,auto,4,2,Merc 240D
Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,auto,4,2,Merc 230

In [34]:
mtcars[mtcars['mpg'].between(23, 30, inclusive= 'left')]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,auto,4,2,Merc 240D
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.9,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,manual,5,2,Porsche 914-2

In [31]:
mtcars[mtcars['mpg'].between(23, 30, inclusive='neither')]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,auto,4,2,Merc 240D
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.9,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,manual,5,2,Porsche 914-2

In [32]:
mtcars[mtcars['mpg'].between(23, 30, inclusive='both')]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,auto,4,2,Merc 240D
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.9,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,manual,5,2,Porsche 914-2

In [33]:
mtcars[mtcars['mpg'].between(23, 30, inclusive='right')]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,auto,4,2,Merc 240D
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.9,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,manual,5,2,Porsche 914-2

In [38]:
mtcars[mtcars['mpg'].between(23, 30) & (mtcars['am']=='manual')]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.9,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,manual,5,2,Porsche 914-2

In [36]:
mtcars[mtcars['gear'].isin([4, 5])]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,manual,4,4,Mazda RX4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,manual,4,4,Mazda RX4 Wag
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,manual,4,1,Datsun 710
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,auto,4,2,Merc 240D
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,auto,4,2,Merc 230
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,auto,4,4,Merc 280
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,auto,4,4,Merc 280C
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,manual,4,1,Fiat 128
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,manual,4,2,Honda Civic
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,manual,4,1,Toyota Corolla
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,manual,5,2,Porsche 914-2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,manual,5,2,Lotus Europa
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,manual,5,4,Ford Pantera L
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,manual,5,6,Ferrari Dino
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,manual,5,8,Maserati Bora
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,manual,4,2,Volvo 142E

In [42]:
mtcars[(mtcars['gear'].isin([4,5])) | (mtcars['am']=='auto')]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,manual,4,4,Mazda RX4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,manual,4,4,Mazda RX4 Wag
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,manual,4,1,Datsun 710
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,auto,3,1,Hornet 4 Drive
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,auto,3,2,Hornet Sportabout
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,auto,3,1,Valiant
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,auto,3,4,Duster 360
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,auto,4,2,Merc 240D
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,auto,4,2,Merc 230
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,auto,4,4,Merc 280
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,auto,4,4,Merc 280C
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,auto,3,3,Merc 450SE
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,auto,3,3,Merc 450SL
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,auto,3,3,Merc 450SLC
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,auto,3,4,Cadillac Fleetwood
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,auto,3,4,Lincoln Continental
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,auto,3,4,Chrysler Imperial
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,manual,4,1,Fiat 128
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,manual,4,2,Honda Civic
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,manual,4,1,Toyota Corolla
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,auto,3,1,Toyota Corona
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,auto,3,2,Dodge Challenger
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,auto,3,2,AMC Javelin
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,auto,3,4,Camaro Z28
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,auto,3,2,Pontiac Firebird
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,manual,4,1,Fiat X1-9
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,manual,5,2,Porsche 914-2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,manual,5,2,Lotus Europa
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,manual,5,4,Ford Pantera L
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,manual,5,6,Ferrari Dino
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,manual,5,8,Maserati Bora
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,manual,4,2,Volvo 142E

In [43]:
mtcars[~mtcars['gear'].isin([4, 5])]   #~it means the opposite

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,auto,3,1,Hornet 4 Drive
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,auto,3,2,Hornet Sportabout
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,auto,3,1,Valiant
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,auto,3,4,Duster 360
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,auto,3,3,Merc 450SE
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,auto,3,3,Merc 450SL
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,auto,3,3,Merc 450SLC
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,auto,3,4,Cadillac Fleetwood
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,auto,3,4,Lincoln Continental
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,auto,3,4,Chrysler Imperial
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,auto,3,1,Toyota Corona
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,auto,3,2,Dodge Challenger
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,auto,3,2,AMC Javelin
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,auto,3,4,Camaro Z28
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,auto,3,2,Pontiac Firebird

In [45]:
mtcars.select_dtypes(include='category').head()

Empty DataFrame
Columns: []
Index: [Mazda RX4, Mazda RX4 Wag, Datsun 710, Hornet 4 Drive, Hornet Sportabout]

In [46]:
mtcars.select_dtypes(include='object').head()

                       am           car_name
Mazda RX4          manual          Mazda RX4
Mazda RX4 Wag      manual      Mazda RX4 Wag
Datsun 710         manual         Datsun 710
Hornet 4 Drive       auto     Hornet 4 Drive
Hornet Sportabout    auto  Hornet Sportabout

In [47]:
mtcars.select_dtypes(include="number").head()

                    mpg  cyl   disp   hp  drat     wt   qsec  vs  gear  carb
Mazda RX4          21.0    6  160.0  110  3.90  2.620  16.46   0     4     4
Mazda RX4 Wag      21.0    6  160.0  110  3.90  2.875  17.02   0     4     4
Datsun 710         22.8    4  108.0   93  3.85  2.320  18.61   1     4     1
Hornet 4 Drive     21.4    6  258.0  110  3.08  3.215  19.44   1     3     1
Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0     3     2

In [49]:
mtcars.nlargest(3, 'mpg')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,manual,4,1,Toyota Corolla
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,manual,4,1,Fiat 128
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,manual,4,2,Honda Civic

In [50]:
mtcars.nsmallest(3, 'mpg')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,auto,3,4,Cadillac Fleetwood
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,auto,3,4,Lincoln Continental
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,auto,3,4,Camaro Z28

In [54]:
mtcars.sort_values(['mpg', 'gear']). head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,auto,3,4,Cadillac Fleetwood
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,auto,3,4,Lincoln Continental
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,auto,3,4,Camaro Z28
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,auto,3,4,Duster 360
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,auto,3,4,Chrysler Imperial

In [56]:
mtcars.sort_values(['mpg', 'gear'], ascending=[False, True]).head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_name
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,manual,4,1,Toyota Corolla
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,manual,4,1,Fiat 128
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,manual,4,2,Honda Civic
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,manual,5,2,Lotus Europa
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,manual,4,1,Fiat X1-9