In [1]:
import numpy as np
import pandas as pd
from pydataset import data
import os
import matplotlib.pyplot as plt
import random
import seaborn as sns

Random

In [2]:
print(random.random())

0.7258448745097195

In [3]:
random.randint(10, 100)

98

In [4]:
random.randrange(start=11, stop=35, step=3)

14

In [5]:
my_list = ['apple', 'banana', 'cherry']
random.choice(my_list)

'apple'

In [6]:
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[4, 3, 5, 1, 2]

In [7]:
random.sample(['red', 'blue'], counts=[6, 2], k=8)

['red', 'blue', 'blue', 'red', 'red', 'red', 'red', 'red']

In [8]:
random.sample(['Nayeema', 'Huma', 'Ratiba', 'Mohammad'], k=3)

['Huma', 'Ratiba', 'Nayeema']

In [9]:
random.choices(['HR', 'IT'], k=3)

['IT', 'HR', 'IT']

In [10]:
df = data('mtcars')
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [11]:
df.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [12]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [13]:
mpgvalues = df.mpg.sort_values().to_list() 
mpgvalues[0], mpgvalues[8], mpgvalues[16] , mpgvalues[24], mpgvalues[31]

(10.4, 15.5, 19.2, 22.8, 33.9)

In [14]:
df.mean(axis=0)

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [15]:
df.mean(axis=1).head()

Mazda RX4            29.907273
Mazda RX4 Wag        29.981364
Datsun 710           23.598182
Hornet 4 Drive       38.739545
Hornet Sportabout    53.664545
dtype: float64

In [16]:
df.median(axis=0)

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [17]:
x = [1,2,3,3,4,5]
x

[1, 2, 3, 3, 4, 5]

In [18]:
np.median(x)

np.float64(3.0)

In [19]:
random.shuffle(x)
x

[4, 3, 3, 2, 1, 5]

In [20]:
np.median(x)

np.float64(3.0)

MODE -max Freq

In [21]:
from scipy import stats

In [22]:
df.mode()

    mpg  cyl   disp     hp  drat    wt   qsec   vs   am  gear  carb
0  10.4  8.0  275.8  110.0  3.07  3.44  17.02  0.0  0.0   3.0   2.0
1  15.2  NaN    NaN  175.0  3.92   NaN  18.90  NaN  NaN   NaN   4.0
2  19.2  NaN    NaN  180.0   NaN   NaN    NaN  NaN  NaN   NaN   NaN
3  21.0  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
4  21.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
5  22.8  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
6  30.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN

In [23]:
df.gear.value_counts()

gear
3    15
4    12
5     5
Name: count, dtype: int64

In [24]:
df.carb.value_counts()

carb
4    10
2    10
1     7
3     3
6     1
8     1
Name: count, dtype: int64

In [25]:
df.cyl.mode()

0    8
Name: cyl, dtype: int64

In [26]:
df.cyl.value_counts()

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [27]:
import statistics as stats  
x1 = [1, 2, 2, 3, 4, 4, 4, 5,5,5,5]
x1

[1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 5]

In [28]:
max(set(x1), key= x1.count)

5

In [29]:
print('Mode of list is ', stats.mode(x1))

Mode of list is  5

In [30]:
print('Multi Mode of list is ', stats.multimode(x1))

Multi Mode of list is  [5]

In [31]:
x2 = [1,1,2,2,3]
print(x2, ' : Multi Mode of list is ', stats.multimode(x2))

[1, 1, 2, 2, 3]  : Multi Mode of list is  [1, 2]