In [1]:
import pandas as pd

In [6]:
Customers = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']})

Rentals = pd.DataFrame({
    'RentalID': [101, 102, 103, 104, 105],
    'CustomerID': [1, 2, 2, 3, 5],
    'CarModel': ['Toyota', 'Honda', 'Ford', 'Tesla', 'BMW'],
    'DaysRented': [3, 5, 2, 4, 6],
    'CostPerDay': [40, 35, 70, 100, 90]})

In [11]:
inner_join = pd.merge(Customers, Rentals, on='CustomerID', how='inner')
print(inner_join)

   CustomerID     Name         City  RentalID CarModel  DaysRented  CostPerDay
0           1    Alice     New York       101   Toyota           3          40
1           2      Bob  Los Angeles       102    Honda           5          35
2           2      Bob  Los Angeles       103     Ford           2          70
3           3  Charlie      Chicago       104    Tesla           4         100

In [12]:
left_join = pd.merge(Customers, Rentals, on='CustomerID', how='left')
print(left_join)

   CustomerID     Name         City  RentalID CarModel  DaysRented  CostPerDay
0           1    Alice     New York     101.0   Toyota         3.0        40.0
1           2      Bob  Los Angeles     102.0    Honda         5.0        35.0
2           2      Bob  Los Angeles     103.0     Ford         2.0        70.0
3           3  Charlie      Chicago     104.0    Tesla         4.0       100.0
4           4    Diana      Houston       NaN      NaN         NaN         NaN

In [13]:
right_join = pd.merge(Customers, Rentals, on='CustomerID', how='right')
print(right_join)

   CustomerID     Name         City  RentalID CarModel  DaysRented  CostPerDay
0           1    Alice     New York       101   Toyota           3          40
1           2      Bob  Los Angeles       102    Honda           5          35
2           2      Bob  Los Angeles       103     Ford           2          70
3           3  Charlie      Chicago       104    Tesla           4         100
4           5      NaN          NaN       105      BMW           6          90

In [15]:
full_join = pd.merge(Customers, Rentals, on='CustomerID', how='outer')
print(full_join)

   CustomerID     Name         City  RentalID CarModel  DaysRented  CostPerDay
0           1    Alice     New York     101.0   Toyota         3.0        40.0
1           2      Bob  Los Angeles     102.0    Honda         5.0        35.0
2           2      Bob  Los Angeles     103.0     Ford         2.0        70.0
3           3  Charlie      Chicago     104.0    Tesla         4.0       100.0
4           4    Diana      Houston       NaN      NaN         NaN         NaN
5           5      NaN          NaN     105.0      BMW         6.0        90.0